{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% if review.author == request.user %}
    <div class='profile-container'>
        <div class='user_welcome text-center text-white'>
            <p>Welcome, <strong>{{ user.username }}</strong></p>
            <p>Here you can edit your reviews:</p>
        </div>
        <div class="user_reviews_container">
            <div class="user_reviews bg-dark text-white">
                <h2>Chosen review for {{ review.game.title }}</h2> <!-- Assuming review has a related game -->
                <form id="reviewForm" method="post" style="margin-top: 1.3em;">
                    {{ form|crispy }}  <!-- Change from review_form to form -->
                    {% csrf_token %}
                    <div class='ed_btn'>
                        <button id="submitButton" type="submit" class="btn btn-outline-success">Edit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% else %}
    <div class='refuse_div'>
        <div>
            <h2 class='text-center text-white'>You are not allowed to see this page</h2>
        </div>
        <div class='refuse_btns text-center'>
            <a href="{% url 'home' %}">
                <button id="submitButton" type="submit" class="btn btn-outline-success">Homepage</button>
            </a>
            <a href="{% url 'home' %}">
                <button id="account_login" type="submit" class="btn btn-outline-success">Log In</button>
            </a>
            <a href="{% url 'home' %}">
                <button id="account_signup" type="submit" class="btn btn-outline-success">Sign Up</button>
            </a>
        </div>
    </div>
{% endif %}
{% endblock %}
