{% extends "base.html" %}
{% block content %}
{% load static %}

<div class='bg-container profile-container'>
<div class=' user_welcome text-center text-white'>
    <p>Welcome, <strong>{{ user.username }}</strong></p>
    <p>Here you can see the reviews you have left below the games:</p>
</div>
<div class="user_reviews_container">
    <div class="user_reviews bg-dark text-white">
        <h2>Your Reviews</h2>
        {% if reviews|length != 0 %}
        <div class="reviews_grid">
            {% for review in reviews %}
            <div class="review_card">
                <!-- Review Information -->
                <p><strong>{{ review.game.title }}</strong> - {{ review.created_on }}</p>
                <p class="review_body">{{ review.body }}</p>
                
                <!-- Action Buttons -->
                <div class="review-actions">
                    <form method="POST" class="delete-form">
                        {% csrf_token %}
                        <button class="delete_btn" review_id="{{ review.id }}" 
                                style="background-color: red; color: white; padding: 8px 16px; border: none; cursor: pointer; margin-right: 10px;">
                            Delete
                        </button>
                    </form>
            
                    <form method="POST" class="edit-form">
                        {% csrf_token %}
                        <button class="edit_btn" review_id="{{ review.id }}" 
                                style="background-color: yellow; color: black; padding: 8px 16px; border: none; cursor: pointer;">
                            Edit
                        </button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No reviews yet. You can be the first!</p>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}

