{% extends "base.html" %}
{% block content %}
{% load static %}
{% url 'profile_url' as url_profile %}

<div class='profile-container'>
<div class=' user_welcome text-center text-white'>
    <p>Welcome, <strong>{{ user.username }}</strong></p>
    <p>Here you can see the reviews you have left below the games:</p>
</div>
<div class="user_reviews_container">
    <div class="user_reviews bg-dark text-white">
        <h2>Your Reviews</h2>
        <div class="search-bar">
            <form class="d-flex" role="search" method="GET" action="{% url 'profile_url' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="Find a review..." aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        {% if reviews|length != 0 %}
        <div class="reviews_grid">
            {% for review in reviews %}
            <div class="review_card">
                <!-- Review information at the top -->
                <p><strong>{{ review.game.title }}</strong> - {{ review.created_on }}</p>
                <p>{{ review.body }}</p>
        
                <!-- Buttons below the review content -->
                <div class="review-actions">
                    <form method="POST" action="{% url 'delete_review' review.id %}" style="display: inline;">
                        {% csrf_token %}
                        <button class="delete_btn" style="background-color: red; color: white; padding: 8px 16px; border: none; cursor: pointer; margin-right: 10px;">
                            Delete
                        </button>
                    </form>
                    
                    <a href="{% url 'edit_review' review.id %}">
                        
                        <button class="edit_btn" style="background-color: yellow; color: black; padding: 8px 16px; border: none; cursor: pointer;">
                            Edit
                        </button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No reviews yet. You can be the first!</p>
        {% endif %}
    </div>
</div>
</div>

{% endblock %}

