{% extends "base.html" %}
{% block content %}
    <div class='refuse_div'>
        <div>
            <h2 class='text-center text-white'>Oops! Page Not Found (404)</h2>
        </div>
        <div class='refuse_btns text-center'>
            <a href="{% url 'home' %}">
                <button id="submitButton" type="submit" class="btn btn-outline-success">Homepage</button>
            </a>
            <a href="{% url 'home' %}">
                <button id="account_login" type="submit" class="btn btn-outline-success">Log In</button>
            </a>
            <a href="{% url 'home' %}">
                <button id="account_signup" type="submit" class="btn btn-outline-success">Sign Up</button>
            </a>
        </div>
    </div>
{% endblock %}