{% extends "base.html" %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

<div class='game_r_detail'>
    <div class='game_r_image'>
        <iframe width="900" height="650"
        src="https://www.youtube.com/embed/{{ game.youtube_url|slice:'-11:' }}?autoplay=1&mute=1"
        frameborder="0" allowfullscreen>
        </iframe>
    </div>
    <div class='game_r_description'>
        <h2>{{ game.title }}</h2>
        <p><strong>Company:</strong> {{ game.company }}</p>
        <p><strong>Release Date:</strong> {{ game.release_date }}</p>
        <p>{{ game.description }}</p>
    </div>
</div>

<div class='reviews_container'>
    <div class='last_reviews bg-dark text-white'>
        <h2>Last Reviews</h2>
        {% if reviews|length != 0 %}
        <div class="reviews_grid">
            {% for review in reviews %}
            <div class='review_card'>
                <p><strong>{{ review.user }}</strong> - {{ review.created_on }}</p>
                <p>{{ review.body }}</p>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No reviews yet. You can be the fisrt!</p>
        {% endif %}
    </div>
    <div class='add_review bg-dark text-white'>
        {% if user.is_authenticated %}
        <h2>Leave Review:</h2>
        <p>Posting as: {{ user.username }}</p>
        <form id="reviewForm" method="post" style="margin-top: 1.3em;">
            {{ review_form | crispy }}
            {% csrf_token %}
            <button id="submitButton" type="submit" class="btn btn-outline-success">Submit</button>
        </form>
        {% else %}
        <p>Log in to leave a review</p>
        {% endif %}
    </div>
</div>

<div class='related_games text-center'>
    <h2>Related Games</h2>
    
    <div class='games-container'>
     {% for game in related_games %}
        <div class='game'>
            <div class='game-image'>
                <img src="{{ game.image.url }}" alt="{{ game.title }}">
            </div>
            <div class='game-info'>
                <h2>{{ game.title }}</h2>
                <a href="{% url 'game_detail' game.slug %}">View game</a>
            </div>
        </div>
     {% endfor %}  
    </div>
</div>
{% endblock %}




